<template>
    <div class="article-page-parent">
        <div class="article-header">
            <h1 class="article-title">{{ article.title }}</h1>
            <span class="posting-date">{{ article.displayDate }}</span>
        </div>
        <div class="article-subheader" v-if="article.subtitle">
            <h2>{{ article.subtitle }}</h2>
        </div>
        <div class="tags-group">
            <a class="tag-link sans" v-for="tag in article.tagList" :href="tag.link">
                {{ tag.name }}
            </a>
        </div>
        <div class="article-body" v-html="article.body" />
    </div>
</template>

<script>
import content from '@/assets/content';

export default {
    async asyncData({ params, error }) {
        const slug = params.slug;

        if (!Object.keys(content).includes(slug)) {
            return error({statusCode: 404, message: 'Not found.'});
        }

        let article = content[slug];

        article.body = require(`@/assets/projects/${slug}.md`).default;
        article.displayDate = new Date(article.date).toDateString();

        article.tagList = article.tags.map(tag => {
            return {
                name: tag,
                link: `/tag/${ tag.trim() }`
            };
        });

        return {
            article
        };
    }
}
</script>

<style lang="scss">
.article-page-parent {

    @include desktop {
        padding: $space-large;
    }

    .article-header {
        display: flex;
        flex-flow: row nowrap;
        align-items: baseline;
        justify-content: space-between;
        margin: $space-small $space-double;

        h1 {
            margin: 0;
        }

        .article-title {
            font-size: 1.6em;
        }

        .posting-date {
            font-size: 1.2em;
        }
    }

    .article-subheader {
        display: block;
        margin: 0 0 $space-small $space-double;
        font-style: italic;
        color: $color-darker-gray;

        h2 {
            margin: 0;
            font-size: 1em;
        }
    }

    .tags-group {
        display: flex;
        flex-flow: row nowrap;
        margin: 0 0 $space-double $space-double;

        a {
            padding: $space-tiny $space-small;
            margin: 0 $space-tiny;
            border-radius: 3px;
            border: 1px solid $color-dark-gray;
            text-decoration: none;
            font-weight: 900;
            color: $color-dark-heading;
            background-color: $color-white;
        }
    }

    .article-body {
        background-color: rgba(150, 150, 150, 0.123);
        border-radius: 8px;

        padding: $space-double;
        margin-bottom: $space-double;

        h2 {
            margin-top: 0;
        }

        img {
            max-width: calc(100% - $space-double - $space-double);
            margin: $space-small $space-double;
            border: 1px solid $color-primary-highlight;

            @include desktop {
                margin: $space-large;
                max-width: calc(100% - $space-large - $space-large);
            }
        }
    }

    pre {
        color: $color-primary-shadow;
        background-color: $color-gray;
        display: block;
        overflow-x: scroll;
        padding: $space-small;
    }

    code {
        font-family: monospace;
    }
}
</style>
