<template>
  <div>
    <div class="projects-root">
      <h1 class="page-header">Latest Projects</h1>

      <div class="project-grid">

        <a class="project-card" v-for="article in articles" :key="article.slug" :href="`/projects/${article.slug}`">
          <img :src="article.image" :alt="article.subtitle" class="project-image">
          <div class="card-text">
            <span class="article-date">{{ article.displayDate }}</span>
            <h2 class="article-title">{{ article.title }}</h2>
            <span class="article-taglist">{{ article.tagList }}</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import content from '@/assets/content.js';

let articles = [];

for (let articleNum in content.all) {
  let articleIndex = content.all[articleNum];
  let article = content[articleIndex];
  article.displayDate = new Date(article.date).toDateString();
  article.tagList = article.tags.join(', ');
  articles.push(article);
}

export default {
  data () {
    return {
      articles
    };
  }
};
</script>

<style lang="scss">
$card-width: 344px;
$card-height: 280px;

.projects-root {

  * {
    box-sizing: content-box;
  }

  .page-header {
    margin: $space-large;

    @include tablet {
      margin: $space-large $space-double;
    }
  }

  .project-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 304px);

    @include tablet {
      grid-template-columns: repeat(auto-fill, 360px);
    }

    background-color: rgba(150, 150, 150, 0.123);
    border-radius: 8px;

    padding: $space-double;

    .project-card {
      padding: $space-small;
      margin: $space-small;
      background-color: $color-primary-dark;
      box-sizing: border-box;
      position: relative;
      box-shadow: 2px 2px 2px $color-darker-gray;
      height: 234px;

      @include tablet {
        height: 280px;
      }

      .project-image {
        width: 272px;
        height: 218px;

        @include tablet {
          width: 328px;
          height: 264px;
        }
        object-fit: cover;
      }

      .card-text {
        display: flex;
        flex-flow: column nowrap;
        position: absolute;
        bottom: 0;
        margin: 8px 0;
        padding: $space-small;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,0.75) 20%, rgba(255,255,255,1) 66%);
        color: $color-black;

        width: calc(272px - $space-double);

        @include tablet {
          width: calc(328px - $space-double);
        }

        .article-title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 0;
          font-size: 1em;
          line-height: 1em;

          @include tablet {
            font-size: 1.4em;
            line-height: 1.4em;
          }
        }
      }
    }
  }
}
</style>
