<template>
    <div class="horizontal-divider">
      <div class="horizontal-divider__left"></div>
      <div class="horizontal-divider__mid"></div>
      <div class="horizontal-divider__right"></div>
    </div>
</template>

<style lang="scss">
div.horizontal-divider {
    display: flex;
    width: 100%;
    margin-top: -10.5px;
    margin-bottom: -10.5px;

    &__left {
        background-image: url('@/assets/images/arrow-left.svg');
        background-position: center;
        width: 48px;
        height: 20px;
    }

    &__mid {
        background-image: url('@/assets/images/line.svg');
        background-position: center;
        flex-grow: 1;
    }

    &__right {
        width: 48px;
        height: 20px;
        background-image: url('@/assets/images/arrow-right.svg');
        background-position: center;
    }
}
</style>
