<template>
    <div class="footer-content">
      <span class="copyright-text">&copy; Aster Echols 2023 <a class="rss-link" href="/rss.xml"><img src="/rss-icon.png" alt="rss icon"> RSS Feed</a></span>
      <span class="build-date">Last update built on {{ displayDate }}</span>
    </div>
</template>

<script>
import meta from '@/static/meta.json';

export default {
  data() {
    return {
        buildDate: meta.buildDate
    };
  },
  computed: {
    displayDate() {
      return new Date(this.buildDate).toDateString();
    }
  }
}
</script>

<style lang="scss">
.footer-content {
  background-image: linear-gradient(rgba(255, 255, 255, 0), $color-primary-fade);
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: $space-small;
  font-size: 0.75em;

  .rss-link {
    text-decoration: none;

    img {
      vertical-align: text-bottom;
      margin-left: $space-double;
    }
  }

  @include tablet {
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: $space-double;
    font-size: 0.95em;
  }
}
</style>
