<template>
    <div class="header-content">
        <div class="hero">
            <header class="header-section">
                <h2 class="site-name">morerunes.com</h2>
                <h3 class="site-tagline">Coding, Music, and More!</h3>

                <Navigation class="navigation-component" />
            </header>
        </div>

        <Divider />
    </div>
</template>

<style lang="scss">
.header-content {
    width: 100%;

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        color: $color-primary;
        text-shadow: 1px 1px 2px $color-primary-shadow;
        width: 100%;

        background-image: linear-gradient(
            rgba(197, 246, 255, 0.1),
            rgb(197, 246, 255)
        );

        padding: $space-double;

        @include tablet {
            align-items: flex-start;
            padding: $space-large;
        }

        .header-section {
            width: 100%;
            position: relative;
        }

        .navigation-component {

            @include tablet {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }

        .site-name,
        .site-tagline,
        .nav-link-label {
            display: block;
            padding: 0;
            margin: 0;
        }

        .site-name {
            font-size: 2.2em;
            margin-left: -2px;

            @include tablet {
                font-size: 2.5em;
            }

            @include desktop {
                font-size: 3em;
            }
        }

        .site-tagline {
            font-size: 1.25em;

            @include tablet {
                font-size: 2em;
            }

            @include desktop {
                font-size: 2.5em;
            }
        }

        .nav-link-label {
            font-size: 1.1em;

            @include tablet {
                font-size: 1.5em;
            }

            @include desktop {
                font-size: 2em;
            }
        }
    }
}
</style>
