<template>
    <div class="navigation-parent">
        <nav class="navigation-body" aria-labelledby="primary-navigation">
            <NavLink toUrl="/" label="Home" />
            <NavLink toUrl="/projects" label="Projects" />
            <NavLink toUrl="https://runefactory.bandcamp.com/" label="Music" />
        </nav>
    </div>
</template>

<style lang="scss">
.navigation-parent {
    // margin: 0 $space-large $space-large $space-large;
    margin: 0 0 0 (-$space-double);

    .navigation-body {
        display: flex;
        flex-flow: row nowrap;

        justify-content: space-around;

        @include tablet {
            justify-content: flex-start;
            gap: $space-double;
        }

        .link-parent {
            position: relative;
        }
    }
}
</style>
