<template>
    <div class="link-parent sans">
        <NuxtLink :to="toUrl" v-if="!isExternal">
            <h4 class="nav-link-label">{{ label }}</h4>
        </NuxtLink>

        <a v-else :href="toUrl" target="_blank">
            <h4 class="nav-link-label">{{ label }}</h4>
        </a>
        <div class="underscore">
            <div class="left"></div>
            <div class="mid"></div>
            <div class="right"></div>
        </div>
    </div>
</template>

<style lang="scss">
.link-parent {
    position: relative;

    a {
        margin: 0 $space-small;
        text-transform: uppercase;

        padding: $space-double;
    }

    a,
    a:visited {
        text-decoration: none;
        color: $color-primary;
    }

    &:hover::before {
        display: block;
        position: absolute;
        left: -12px;
        top: 20px;
        content: "> ";

        @include tablet {
            top: 22px;
        }

        @include desktop {
            top: 28px;
        }
    }

    &:hover::after {
        display: block;
        position: absolute;
        right: -12px;
        top: 20px;
        content: " <";

        @include tablet {
            top: 22px;
        }

        @include desktop {
            top: 28px;
        }
    }

    .underscore {
        display: flex;
        position: absolute;
        height: 14px;
        width: calc(100% + 8px);
        top: 44px;
        margin: 0 -4px 0 -4px;

        @include tablet {
            top: 48px;
        }

        @include desktop {
            top: 56px;
        }

        .left {
            background-image: url("@/assets/images/underscore-left.svg");
            width: 14px;
        }

        .mid {
            flex-grow: 1;
            background-image: url("@/assets/images/underscore-middle.svg");
        }

        .right {
            background-image: url("@/assets/images/underscore-right.svg");
            width: 14px;
        }
    }
}
</style>

<script>
export default {
    props: ['label', 'toUrl'],
    computed: {
        isExternal() {
            return typeof this.toUrl === 'string' && this.toUrl.length > 0 && !this.toUrl.startsWith('/');
        }
    }
}
</script>

