// -- Standard Sizes -- //

// spacing
$space-tiny: 4px;
$space-small: 8px;
$space-medium: 12px;
$space-double: 16px;
$space-large: 24px;

// -- @media Mixins -- //
// 
// Usage:
// .font-that-grows-on-bigger-screen {
//   font-size: 12px;
//   @include tablet {
//     font-size: 14px;
//   }
//   @include desktop {
//     font-size: 16px;
//   }
// }

$tablet-max: 1023px;
$phone-max: 765px;

@mixin tablet {
    @media screen and (min-width: #{$phone-max}) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: #{$tablet-max}) {
        @content;
    }
}

// -- Colors -- //
$color-primary: #00D7FF;
$color-primary-dark: #0093AE;
$color-primary-shadow: #006F83;
$color-primary-highlight: #2EDBFC;
$color-primary-fade: #c5f6ff;

$color-secondary: #003BFF;
$color-secondary-dark: #002CBB;
$color-secondary-shadow: #012290;
$color-secondary-highlight: #426DFC;

$color-tertiary: #00FF38;
$color-tertiary-dark: #00CC2D;
$color-tertiary-shadow: #00A124;

$color-compliment: #FF7C00;
$color-compliment-highlight: #FF922A;
$color-compliment-dark: #D56800;

$color-gray: rgb(197, 197, 197);
$color-dark-gray: rgb(121, 121, 121);
$color-darker-gray: rgb(70, 70, 70);

$color-dark-heading: #301A4B;

$color-black: black;
$color-white: rgb(240, 240, 240);;
