<template>
    <div class="page-parent">
        <Header />
        <Nuxt class="page-content" />
        <Footer />
    </div>
</template>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap");
* {
    box-sizing: border-box;
}

html,
body {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .sans {
        font-family: "M Plus Rounded 1c", "Lucida Sans", "Lucida Sans Regular",
            "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }

    margin: 0;
    padding: 0;

    width: 100%;
    min-height: 100vh;
}

.page-parent {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    min-height: 100vh;
    align-items: center;

    background-image: url("@/assets/images/fractal.jpg");
    background-size: cover;
}

.page-content {
    padding: $space-small;
    width: 100%;

    @include tablet {
        padding: $space-double $space-large;
        max-width: 1160px;
    }

    flex-grow: 2;
}
</style>
