<template>
  <div class="main-page-content">
    <h1 class="page-header">Latest Updates</h1>

    <div class="article-parent" :key="article.slug" v-for="article in articles">
      <div class="article-header">
        <NuxtLink :to="'/projects/' + article.slug"><h4 class="article-title">{{article.title}}</h4></NuxtLink>
        <h5 class="posting-date">{{ article.displayDate }}</h5>
      </div>
      <p>{{article.preview}}</p>
      <NuxtLink :to="'/projects/' + article.slug">Read More &gt;&gt;</NuxtLink>
    </div>
  </div>
</template>

<script>
import content from '@/assets/content.js';

let articles = [];

for (let articleNum in content.all) {
  let articleIndex = content.all[articleNum];
  let article = content[articleIndex];
  article.displayDate = new Date(article.date).toDateString();
  articles.push(article);
}

export default {
  data () {
    return {
      articles
    };
  }
};
</script>


<style lang="scss">
.main-page-content {
  .article-parent {
    background-color: rgba(150, 150, 150, 0.123);
    border-radius: 8px;

    padding: $space-double;
    margin-bottom: $space-double;
  }

  .page-header {
    margin: $space-large $space-double;
  }

  .article-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-between;
    margin: 0;

    a, a:visited {
        text-decoration: none;
        color: inherit;
    }
  }
}
</style>
