<template>
    <div>
        <h2>Post Topics (click your favorite one!):</h2>

        <ul class="tags-group">
            <li v-for="tag in tags">
                <a class="tag-link sans" :href="tag.link">
                    {{ tag.name }}
                </a>
            </li>
        </ul>

        <p>I didn't link to this anywhere, so, clever you for finding it.</p>
    </div>
</template>

<script>
import content from '@/assets/content.js';

export default {
    data() {
        return {
            tags: Object.keys(content.tags).map(tag => {
                return {
                    name: tag,
                    link: `/tag/${tag.trim()}`
                };
            })
        };
    }
};
</script>

<style lang="scss">
.tags-group {
    list-style: none;
    line-height: 2.5em;

    a {
        padding: $space-tiny $space-small;
        margin: 0 $space-tiny;
        border-radius: 3px;
        border: 1px solid $color-dark-gray;
        text-decoration: none;
        font-weight: 900;
        color: $color-dark-heading;
        background-color: $color-white;
    }
}
</style>
